// Styling for the masthead
header.masthead {
  color: white;
  position: relative;
  height: 100%;
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  .intro-text {
    background-color: rgba(110, 105, 105, 0.6);
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    .intro-lead-in {
      background-image: url('/images/header-logo.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90%;
      height: 200px;
    }
    .intro-heading {
      font-size: 52px;
      margin-top: -20px;
      @include heading-font;
    }
  }
}

@media (max-width: 768px) {
  header.masthead {
    .intro-text {
      .intro-lead-in {
        background-image: url('/images/header-logo-sm.svg');
        height: 250px;
      }
      .intro-heading {
        font-size: 42px;
      }
    }
  }
}

@media (max-width: 576px) {
  header.masthead {
    .intro-text {
      .intro-lead-in {
        height: 38vw;
      }
      .intro-heading {
        margin-top: -10px;
        font-size: calc(12px + 5vw);
      }
    }
  }
}
