// Styling for the navbar
.navbar {
  .navbar-brand-lg {
    display: inherit;
  }
  .navbar-brand-sm {
    display: none;
  }
  .nav-item {
    font-size: 24px;
    margin-left: 40px;
    img {
      height: 30px;
    }
  }
  &.bg-dark {
    background: linear-gradient(to bottom, #343a4000, #343a40) !important;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding-top: 1px;
    padding-bottom: 1px;
    .navbar-brand-lg {
      display: none;
    }
    .navbar-brand-sm {
      display: inherit;
    }
    .navbar-nav.nav-fill {
      width: 100%;
    }
    .nav-item {
      font-size: 13px;
      text-align: center;
      margin-left: inherit;
      img {
        display: block;
        margin: auto;
      }
    }
  }
}
