.white-with-cocoa-nibs {
  background-color: #f7e3da;
  background-image: url('/images/white-choco-wrrap.png');
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}
